@import "../libraries/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../libraries/font-awesome/css/font-awesome";
// @import url("//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

@import "./sidebar-nav";

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.row-same-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.force-column-height {
  display: flex;
  flex-direction: column;
}

.word-finished{
  background-color: limegreen;
}

.word-current{
  background-color: yellow;
}

.word-unfinished{
  background-color: white;
}

.p-inline{
  display:inline;
}
